/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 12, ../sass/screen.sass */
.row-fluid, .row-fluid [class*="span"] {
  margin-left: 0; }

/* line 15, ../sass/screen.sass */
#wrapper {
  margin: 3em auto;
  width: 80%;
  background: white; }
  /* line 19, ../sass/screen.sass */
  #wrapper div {
    border: 2px solid #d0ccc8; }

/* line 22, ../sass/screen.sass */
.thanks {
  float: left; }

/* line 25, ../sass/screen.sass */
.social {
  float: right; }
  /* line 27, ../sass/screen.sass */
  .social li {
    display: inline-block; }

/* line 30, ../sass/screen.sass */
.weird {
  height: 200px; }
  /* line 32, ../sass/screen.sass */
  .weird div {
    height: 50%; }
  /* line 34, ../sass/screen.sass */
  .weird .double {
    height: 100%; }

/* line 38, ../sass/screen.sass */
#mainNav div {
  position: relative; }
  /* line 40, ../sass/screen.sass */
  #mainNav div a {
    display: block;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 28px;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 300ms;
    -moz-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
    /* line 60, ../sass/screen.sass */
    #mainNav div a.back {
      -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
      background-color: black; }
    /* line 64, ../sass/screen.sass */
    #mainNav div a.tiltLeft {
      -webkit-transform: rotateY(-45deg);
      transform: rotateY(-45deg); }
    /* line 66, ../sass/screen.sass */
    #mainNav div a.tiltRight {
      -webkit-transform: rotateY(45deg);
      transform: rotateY(45deg); }
    /* line 69, ../sass/screen.sass */
    #mainNav div a.flipLeft {
      -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg); }
    /* line 71, ../sass/screen.sass */
    #mainNav div a.flipRight {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg); }
    /* line 73, ../sass/screen.sass */
    #mainNav div a.flipFront {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg); }
