!!! 5
html(lang = 'en')
    head
      title Paulgrock.com
      link(rel='stylesheet', href='css/bootstrap.css')
      link(rel='stylesheet', href='css/bootstrap-responsive.css')
      link(rel='stylesheet', href='css/screen.css')
    body#main
      #wrapper
        .row-fluid
          .span12
            p.thanks
              | Thank you for your consideration.
            ul.social
              li
                a(href="http://github.com/paulgrock") Github
              li
                a(href="http://twitter.com/paulgrock") Twitter
              li
                a(href="http://linkedin.com/pub/paulgrock") Linkedin
              li
                a(href="http://facebook.com/paulgrock") FB
        .row-fluid
          .span2
          .span2
            a(href="/showcase.html") Showcase
          .span2
            a(href="/about.html") About
          .span2
            a(href="/blog.html") Blog
          .span2
            a(href="/contact.html") Contact
        .row-fluid
          .span4
            h3 03
          .span8
            h3 Hi, I'm Paul
        .row-fluid
          .span12 21
            span Welcome to the future
        .row-fluid
          .span12
            p &copy; Paul Grock All Rights Reserved
      script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
      script(src="js/bootstrap.js")