form(action="", method="")
	dl
		dt
			label(for="name") Name:
		dd
			input#name
		dt
			label(for="email") email:
		dd
			input#email
		dt
			label(for="subject") Subject:
		dd
			input#subject
		dt
			label(for="message") Message:
		dd
			textarea#message
		dt
			button(type="submit", value="submit") Send