img.site-images(src="/images/ipl-low.jpg", alt="IPL - IGN Pro League")
img.site-images(src="/images/ipl-tv-low.jpg", alt="IPL TV")
img.site-images(src="/images/normgrock-low.jpg", alt="Normgrock.com")
img.site-images(src="/images/once-upon-a-sketch-low.jpg", alt="Once Upon A Sketch")
img.site-images(src="/images/fit-studios-low.jpg", alt="Fit Studios")
img.site-images(src="/images/gratemaster-low.jpg", alt="Grate Master Fabrications")