
<div>
  <div class="hresume">
    <section>
      <h2>Education &amp; Affiliations</h2>
      <div class="vcalendar">
        <div class="education vevent vcard">
          <div class="htitle"><span class="summary">Certificates of Web Development</span><br/><span class="org">Portland Community College</span></div>
          <div class="date_duration"><abbr title="2009-01-01" class="dtstart">
              January 2009
              - </abbr><abbr title="2010-06-01" class="dtend">June 2010</abbr></div>
        </div>
        <div class="education vevent vcard">
          <div class="htitle"><span class="summary">Bachelors of science Psychology</span><br/><span class="org">Western Oregon University</span></div>
          <div class="date_duration"><abbr title="2003-09-01" class="dtstart">
              September 2003
              - </abbr><abbr title="2005-06-01" class="dtend">June 2005</abbr></div>
        </div>
      </div>
    </section>
    <section>
      <h2>Professional Experience</h2>
      <div class="vcalendar">
        <div class="experience vevent vcard">
          <div class="htitle"><span class="title">Web Developer</span></div>
          <div class="expContainer"> 
            <div class="htitle"><span class="org">IGN Entertainment</span>, <span>
                San Francisco, Ca
                | </span><abbr title="2012-07-01" class="dtstart">
                July 2011
                - </abbr><abbr class="dtend">Present</abbr></div>
            <div class="description">
              <ul>
                <li>Hired full-time after 6 week internship</li>
                <li>Won most helpful award during internship</li>
                <li>Designed and developed ign.com/ipl using responsive design techniques</li>
                <li>Assisted with the development of ign.com/ipl/tv for video viewing</li>
                <li>Developed an event guide using jQuery mobile to be used in place of a printed version</li>
                <li>Lead developer for a Windows 8 application for IGN Pro League</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="experience vevent vcard">
          <div class="htitle"><span class="title">Ecommerce Operations Coordinator</span></div>
          <div class="expContainer">
            <div class="htitle"><span class="org">Knowledge Universe</span>, <span class="location">
                Portland, Or
                | </span><abbr title="2007-05-01" class="dtstart">
                May 2007
                - </abbr><abbr title="2011-09-01" class="dtend">September 2011</abbr></div>
            <div class="description">
              <ul>
                <li>Fulfill and bill ChildCareMarketplace.com orders ensuring timely and accurate deliveries</li>
                <li>Led ChildCareMarketplace.com email marketing initiatives resulting in increased sales</li>
                <li>Reworked the site's 404 page to bring it inline with the rest of the site</li>
                <li>Enhance member experience by facilitating most member interaction</li>
                <li>QA checked the site's FAQ page to ensure accuracy and decrease confusion</li>
                <li>Created and updated a travel blog for field use</li>
                <li>Developed travel department email newsletters to alleviate travel concerns</li>
                <li>Generated numerous marketing email campaigns for multiple site operations</li>
                <li>Assisted with upkeep of company intranet site</li>
                <li>Train new customer service employees on all of the below</li>
                <li>Created reports for all customer service issues to allow for tracking of issues</li>
                <li>Assisted with Oracle/systems related tasks</li>
                <li>Experienced with multiple CRMs including Service-now</li>
                <li>Honed investigative responsibilities to be able to access correct data quickly</li>
                <li>Answer calls & emails from national field staff regarding purchasing issues</li>
                <li>Handle returns for incorrectly delivered, damaged or improperly purchased items</li>
                <li>Ensure communication completed within 24 hours of initial contact</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="experience vevent vcard">
          <div class="htitle"><span class="title">Web Developer Intern</span></div>
          <div class="expContainer">
            <div class="htitle"><span class="org">
                Entercom Portland
                , </span><span class="location">
                Portland, Or
                | </span><abbr title="2010-03-15" class="dtstart">
                March 15, 2010
                - </abbr><abbr title="2010-04-23" class="dtend">April 23, 2010</abbr></div>
            <div class="description">
              <ul>
                <li>Created the basis for livinglocal2010.com </li>
                <li>Wrote all HTML, CSS and jQuery related to that site</li>
                <li>Quickly integrated with their Creative Department.</li>
                <li>Performed significant changes on various station owned properties</li>
                <li>Learned their custom CMS backend, Vortal.</li>
                <li>Developed a web application to allow for easy bracket creation</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="experience vevent vcard">
          <div class="htitle"><span class="title">Stock Supervisor</span></div>
          <div class="expContainer">
            <div class="htitle"><span class="org">
                Puma North America INC
                , </span><span class="location">
                Woodburn, Or 
                |</span><abbr title="2006-10-01" class="dtstart">
                October 2006
                - </abbr><abbr title="2007-02-01" class="dtend">February 2007</abbr></div>
            <div class="description">
              <ul>
                <li>In charge of shipping and receiving product</li>
                <li>Re-organized the stock room to speed up retrieval of product and maximize storage</li>
                <li>Oversaw the stock room associates</li>
                <li>Assisted management with running the floor and assigning tasks to associates</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="experience vevent vcard">
          <div class="htitle"><span class="title">Customer Service Lead</span></div>
          <div class="expContainer">
            <div class="htitle"><span class="org">
                Circuit City
                , </span><span class="location">
                Tigard, Or
                | </span><abbr title="2003-06-01" class="dtstart">
                June 2003 
                - </abbr><abbr title="2007-05-01" class="dtend">May 2007</abbr></div>
            <div class="description">
              <ul>
                <li>Quickly & tactfully resolve customer problems (in person and on phone)</li>
                <li>Handle returns of defective merchandise</li>
                <li>Proficiently train, schedule, and oversee up to 12 customer service associates</li>
                <li>Efficiently reconcile monetary transactions to assure smooth nightly closing</li>
                <li>Ship and receive products</li>
                <li>Assist management wherever necessary</li>
                <li>Promoted to Lead with a little over a years' experience</li>
                <li>Entered the management training program after a month at Tigard</li>
                <li>Helped prepare & reconcile inventory for a $30 million store</li>
                <li>In charge of hiring Customer Service Associates</li>
                <li>Praised by management for quickly learning computer system and company SOPs</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>