div
  .hresume
    section
      h2 Education &amp; Affiliations
      .vcalendar
        .education.vevent.vcard
          .htitle
            span.summary Certificates of Web Development
            br
            span.org Portland Community College
          .date_duration
            abbr.dtstart(title="2009-01-01") January 2009
             |- 
            abbr.dtend(title="2010-06-01") June 2010

        .education.vevent.vcard
          .htitle
            span.summary Bachelors of science Psychology
            br
            span.org Western Oregon University
          .date_duration
            abbr.dtstart(title="2003-09-01") September 2003
             |- 
            abbr.dtend(title="2005-06-01") June 2005

    section
      h2 Professional Experience
      .vcalendar
        .experience.vevent.vcard
          .htitle
            span.title Web Developer
          .expContainer 
            .htitle
              span.org IGN Entertainment
              , 
              span San Francisco, Ca
               || 
              abbr.dtstart(title="2012-07-01") July 2011
               |- 
              abbr.dtend Present
            .description
              ul
                li Hired full-time after 6 week internship
                li Won most helpful award during internship
                li Designed and developed ign.com/ipl using responsive design techniques
                li Assisted with the development of ign.com/ipl/tv for video viewing
                li Developed an event guide using jQuery mobile to be used in place of a printed version
                li Lead developer for a Windows 8 application for IGN Pro League

        .experience.vevent.vcard
          .htitle
            span.title Ecommerce Operations Coordinator
          .expContainer
            .htitle
              span.org Knowledge Universe
              , 
              span.location Portland, Or
               || 
              abbr.dtstart(title="2007-05-01") May 2007
               |- 
              abbr.dtend(title="2011-09-01") September 2011
            .description
              ul
                li Fulfill and bill ChildCareMarketplace.com orders ensuring timely and accurate deliveries
                li Led ChildCareMarketplace.com email marketing initiatives resulting in increased sales
                li Reworked the site's 404 page to bring it inline with the rest of the site
                li Enhance member experience by facilitating most member interaction
                li QA checked the site's FAQ page to ensure accuracy and decrease confusion
                li Created and updated a travel blog for field use
                li Developed travel department email newsletters to alleviate travel concerns
                li Generated numerous marketing email campaigns for multiple site operations
                li Assisted with upkeep of company intranet site
                li Train new customer service employees on all of the below
                li Created reports for all customer service issues to allow for tracking of issues
                li Assisted with Oracle/systems related tasks
                li Experienced with multiple CRMs including Service-now
                li Honed investigative responsibilities to be able to access correct data quickly
                li Answer calls & emails from national field staff regarding purchasing issues
                li Handle returns for incorrectly delivered, damaged or improperly purchased items
                li Ensure communication completed within 24 hours of initial contact

        .experience.vevent.vcard
          .htitle
            span.title Web Developer Intern
          .expContainer
            .htitle
              span.org Entercom Portland
               |, 
              span.location Portland, Or
               || 
              abbr.dtstart(title="2010-03-15") March 15, 2010
               |- 
              abbr.dtend(title="2010-04-23") April 23, 2010
            .description
              ul
                li Created the basis for livinglocal2010.com 
                li Wrote all HTML, CSS and jQuery related to that site
                li Quickly integrated with their Creative Department.
                li Performed significant changes on various station owned properties
                li Learned their custom CMS backend, Vortal.
                li Developed a web application to allow for easy bracket creation

        .experience.vevent.vcard
          .htitle
            span.title Stock Supervisor
          .expContainer
            .htitle
              span.org Puma North America INC
               |, 
              span.location Woodburn, Or 
               ||
              abbr.dtstart(title="2006-10-01") October 2006
               |- 
              abbr.dtend(title="2007-02-01") February 2007
            .description
              ul
                li In charge of shipping and receiving product
                li Re-organized the stock room to speed up retrieval of product and maximize storage
                li Oversaw the stock room associates
                li Assisted management with running the floor and assigning tasks to associates

        .experience.vevent.vcard
          .htitle
            span.title Customer Service Lead
          .expContainer
            .htitle
              span.org Circuit City
               |, 
              span.location Tigard, Or
               || 
              abbr.dtstart(title="2003-06-01") June 2003 
               |- 
              abbr.dtend(title="2007-05-01") May 2007
            .description
              ul
                li Quickly & tactfully resolve customer problems (in person and on phone)
                li Handle returns of defective merchandise
                li Proficiently train, schedule, and oversee up to 12 customer service associates
                li Efficiently reconcile monetary transactions to assure smooth nightly closing
                li Ship and receive products
                li Assist management wherever necessary
                li Promoted to Lead with a little over a years' experience
                li Entered the management training program after a month at Tigard
                li Helped prepare & reconcile inventory for a $30 million store
                li In charge of hiring Customer Service Associates
                li Praised by management for quickly learning computer system and company SOPs